body{
    background-color: white;
}

.container{
    display: flex;
    height: 70%;
    width: 50%;
    border: 2px solid rgb(250, 248, 248);
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 35px;
}

.result{
    background-color: rgba(95,63,252,255);
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 30px;
    justify-content: center;
}

h1.yourresult{
    margin-left: 30%;
    margin-top: 10%;
    color: rgba(205,200,255,255);
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(73,39,211,255);
    margin-top: 40px;
    margin-left: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle h1{
    font-size: 70px;
    color: rgba(254,252,252,255);
}

.circle p{
    color: #8a7cff;
    margin-top: -30px;

}

.great{
 display: flex;
 flex-direction: column;
 width: 100%;
 height: 100%;
}

.great h1{
    margin-left: 150px;
    color: rgba(251,252,255,255)
}

.great p{
    margin-left: 50px;
    margin-right: 20px;
    color: rgba(175,170,255,255);
}

.summary{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    border-radius: 30px;
}

.summary h1{
    margin-left: 30px;
}

.reaction{
    margin: 2px;
    border: 1px solid white;
    padding: 2px;
    border-radius: 20px;
    background-color: #fff6f5;
    width: 23rem;
    height: 5rem;
    display: flex;
    margin-left: 25px;
}

.memory{
    margin: 2px;
    border: 1px solid white;
    padding: 2px;
    border-radius: 20px;
    background-color: #fffbf2;
    width: 23rem;
    height: 5rem;
    display: flex;
    margin-left: 25px;
}

.memory h1{
    color: #f7bc58;
}

.reaction h1{
    color: #db6968;
}

.verbal{
    margin: 2px;
    border: 1px solid white;
    padding: 2px;
    border-radius: 20px;
    background-color: #f2fbfa;
    width: 23rem;
    height: 5rem;
    display: flex;
    margin-left: 25px;
}

.visual{
    margin: 2px;
    border: 1px solid white;
    padding: 2px;
    border-radius: 20px;
    background-color: #f3f3fd;
    width: 23rem;
    height: 5rem;
    display: flex;
    margin-left: 25px;
}

.continue{
    margin: 2px;
    border: 1px solid white;
    padding: 2px;
    border-radius: 20px;
    background-color: #303b59;
    width: 20rem;
    height: 2rem;
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.continue h1{
    color: #e6ebf1;
    margin-left: 7rem;
}







